venv/
.env

# Node / Vite (React frontend)

node_modules/
dist/
build/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vite cache
.vite/
vite.config.timestamp-*.mjs

# ==========================
# Python / FastAPI backend
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.sqlite
*.log

# Virtual environment
venv/
.env/
.venv/

# Pytest / coverage
.coverage
.pytest_cache/
htmlcov/

# Firebase / Keys / Secrets
serviceAccountKey.json
firebase-debug.log
.firebase/


# OS / IDE / Misc
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

.pdf
Questions.py

alembic/
*.ini

